#jss-search-box {
    width: calc(100% - 56px);
    height: 32px;
    padding: 10px 10px 10px 44px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 5px 10px rgba(#333, 0.1);
    border: 1px solid #d4d4d4;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiM2NjY2NjYiID48ZyBpZD0ic3VyZmFjZTEiPjxwYXRoIHN0eWxlPSIgIiBkPSJNIDIxIDMgQyAxMS42MDE1NjMgMyA0IDEwLjYwMTU2MyA0IDIwIEMgNCAyOS4zOTg0MzggMTEuNjAxNTYzIDM3IDIxIDM3IEMgMjQuMzU1NDY5IDM3IDI3LjQ2MDkzOCAzNi4wMTU2MjUgMzAuMDkzNzUgMzQuMzQzNzUgTCA0Mi4zNzUgNDYuNjI1IEwgNDYuNjI1IDQyLjM3NSBMIDM0LjUgMzAuMjgxMjUgQyAzNi42Nzk2ODggMjcuNDIxODc1IDM4IDIzLjg3ODkwNiAzOCAyMCBDIDM4IDEwLjYwMTU2MyAzMC4zOTg0MzggMyAyMSAzIFogTSAyMSA3IEMgMjguMTk5MjE5IDcgMzQgMTIuODAwNzgxIDM0IDIwIEMgMzQgMjcuMTk5MjE5IDI4LjE5OTIxOSAzMyAyMSAzMyBDIDEzLjgwMDc4MSAzMyA4IDI3LjE5OTIxOSA4IDIwIEMgOCAxMi44MDA3ODEgMTMuODAwNzgxIDcgMjEgNyBaICI+PC9wYXRoPjwvZz48L3N2Zz4=') no-repeat 8px 10px;
    background-size: 24px 32px;
    transition: 0.25s;
}

div#jss-search-layer {
    display: none;
    background-color: rgba(0,0,0,0.45) !important;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999998;
    top: 0;
    left: 0;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAADo0lEQVRYhb1XP2gbZxR/7ztFR4OCWp2wfMa1RUF24BwLdF4aYxAatIjMovVQ0KAMhoJd2XO2DmrwEDzEg0d1Kh6yxSC0eckd2M4NFrVQPeQ4Lh6ubi/osPQ6VBKyIuVOspLfdu973/f73fv+/hA8QpKkgN/vlwFARsTFIWnvAEBpNBoVTdP+8TIuuiXIsiwSUZ6Ikoj4wKtgAHjVbDZ/Pzk5qY4lQJKkAM/zvwDAkxFIPwIRVRzHeTasItygYDweX/D5fL8h4uO7kAMAIGKU47jvI5HIW8Mwrj5q7w/Isiy2Wq3SiOV2BRFdM8Z+VBRF743fqoAkSQHG2AtEnJkkOQAAIvJEJAuC8No0TacTZ71JPM8//8QKn4SIRZ7nn/fGuhVIJBJ5uOOC84gZURRB13UFoL0G2lvt1Rcg7wIRnyiKojMAACLKf0nyXk5OkqSAz+f71a3D8vLyV5FI5J5hGDfDcoLBIFcqlR7Ozs7eOz4+djsJF0OhUInxPJ/0orhQKHy7t7e3kMlkgsPIDw4OFqLR6P3V1dWvg8HgwDOmFzzPJ7np6ek8Ikbdki8uLuxMJiOk0+mwZVmOpmkfett3d3e/W1paelCv1+1cLle1LKvpNiYRASeK4k+IGHZLNgzjRlGUv9Pp9DfJZDJERE1VVf8FACgWi/Nra2uhUcjbaGAikXjjMRkAbpe6XC6/BwBIpVLhMcgBAGBkAf0iAADGJQfoOwm9wrKsZq1WszvftVrNHod8bAHFYnG+U/Z6vW6nUqlwsVicH0sAEZ2P0mFra0vsnfNcLlcdVwQRnTMA0F0z28hms8L6+vqMaZqNzpxbltXM5XJVTdOuxxChc6IoCl4eHtlsVtjZ2Ynatn2zubn55+XlZfdKbTQadHh4eBWLxfypVCoci8X8R0dHlgcBfzDGWMWL1JWVlYBt2zcbGxvV09PTD4Nytre3/yqXy+91XXcGtfeDMVZBAIBEIvESAGS3DnNzc/7eP78jFFVVn3Z2wb6XHhMk73IyAABVVRUiqkxw8E+CiCqqqipdAQAAjuM8g/+NxefGuzYXAPQ8yUzTdKamphRETCMi/zmYiei61Wr9fHZ21t36t+5swzCuIpHIMSIuebkhRyQ/b7VahX6nNNAZtX3gy0m9kIno3HGcp4Pc0cBXi2majiAIrzmO8yPiozuSVxzHKQyzZq7mNB6PLzDG8oiYHJFbAYD9zmofBlcBHbQt2w/gwZ4j4n6/BRuG/wA9X65CnAC2oQAAAABJRU5ErkJggg==") 12 12,auto;
}
div#jss-search {
    display: none;
    width: 400px;
    position: absolute;
    max-height: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 12px;
    left: calc(50% - 200px);
    top: 225px;
    z-index: 9999999;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.55);
    overflow: hidden;
}
#jss-search input, #jss-search input:active, #jss-search input:focus {
    width: 100%;
    border: none;
    outline: none;
}
#jss-search-results {
    display: none;
    border-top: 1px solid #aaa;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 235px;
}
.jss-search-result.active, .jss-search-result:hover {
    background-color: #1983a9;
    color: white;
    border-radius: 10px;
}
.jss-search-result {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.jss-search-result .title {
    /*font-weight: bold;*/
    font-size: initial;
}
.jss-search-result .group {
    opacity: 0.5;
    font-size: 15px;
}
.jss-search-result .meta {
    margin: 10px 0 5px 0;
    font-size: 15px;
}

.meta {
    display: none;
}
.active .meta {
    display: block;
}

#jss-search-results::-webkit-scrollbar {
    width: 10px;
}

#jss-search-results::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#jss-search-results::-webkit-scrollbar-thumb {
    background: #888;
}

#jss-search-results::-webkit-scrollbar-thumb:hover {
    background: #555;
}